name: Controller CI

on: [ push, pull_request ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Make the boinc-install directory
      run: mkdir boinc-install
    - name: Clone BOINC/boinc PUBLIC repository
      run: git clone https://github.com/BOINC/boinc.git
    - name: Run autosetup
      run: cd boinc && ./_autosetup
    - name: Build BOINC
      run: cd boinc && ./configure --disable-server --disable-fcgi --disable-manager --disable-client --enable-libraries --disable-boinczip --prefix=$PWD/../boinc-install CXXFLAGS='-O3'
    - name: Run make install
      run: cd boinc && make install
    - name: List contents of boinc-install
      run: ls -lt boinc-install/include/boinc > stdout_and_stderr
    - name: Build cpdn-zip library
      run:  cd zip && mkdir build && cd build && cmake -DCMAKE_INSTALL_PREFIX=../install .. && make && make install
    - name: Build the CPDN control executable
      run:  mkdir build && cd build && cmake .. -DBOINC_DIR=./boinc-install && make && cp oifs*pc-linux-gnu ..
    - name: Build the test model -- uses Makefile for now
      run:  BOINC_DIR=./boinc-install make 
    - name: Upload built executable
      if: ${{ success() }}
      uses: actions/upload-artifact@v4
      with:
        name: Built executable
        path: oifs_43r3_1.00_x86_64-pc-linux-gnu
    - name: Upload logs on fail
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: Build failure log
        path: ${{ runner.temp }}/build_log
    - name: Set up test environment
      run: cd test && chmod 744 setup_test.py && ./setup_test.py
    - name: Copy CPDN controller exe
      run: cp oifs_43r3_1.00_x86_64-pc-linux-gnu test/projects/
    - name: List contents of the root folder
      run: ls -lt >> stdout_and_stderr
    - name: List contents of projects folder
      run: cd test/projects/ && ls -lt >> ../stdout_and_stderr
    - name: Copy test_model to slot
      run: cp test_model.exe test/slots/0/oifs_43r3_test.exe
    - name: List contents of slots folder
      run: cd test/slots/0 && ls -lt >> ../stdout_and_stderr
    - name: Run test model
      run: cd test/slots/0 && ../../projects/oifs_43r3_1.00_x86_64-pc-linux-gnu yyyymmddhh 0000 NNNN d000 0 1 oifs_43r3 1 1.00 0 && cat stderr.txt >> ../stdout_and_stderr
    - name: Upload test log
      if: ${{ failure() }}
      uses: actions/upload-artifact@v4
      with:
        name: Test failure log
        path: stdout_and_stderr
