name: CTest Unit Tests

on: [ push, pull_request ]

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: --- Build the BOINC software ---
      run: mkdir boinc-install
    - name: Clone BOINC/boinc PUBLIC repository
      run: git clone https://github.com/BOINC/boinc.git
    - name: Run autosetup
      run: cd boinc && ./_autosetup
    - name: Build BOINC
      run: cd boinc && ./configure --disable-server --disable-fcgi --disable-manager --disable-client --enable-libraries --disable-boinczip --prefix=$PWD/../boinc-install CXXFLAGS='-O3'
    - name: Run make install
      run: cd boinc && make install
    - name: List contents of boinc-install
      run: ls -lt boinc-install/include/boinc > stdout_and_stderr
    - name: -- Build cpdn-zip library ---
      run:  cd zip && mkdir build && cd build && cmake -DCMAKE_INSTALL_PREFIX=../install .. && make && make install
    - name: Create Build Directory for testing
      run: mkdir build
    - name: Configure CMake
      run: |
        cd build
        cmake .. \
            -DBOINC_INCLUDE_DIR="./boinc-install/include" \
            -DBOINC_LIB_DIR="./boinc-install/lib" \
            -DCPDNZIP_INCLUDE_DIR="./zip/install/include" \
            -DCPDNZIP_LIB_DIR="./zip/install/lib"
    - name: Build and Test Executable
    # Compiles all targets, including the 'unit_tests' executable.
      run: |
        cd build
        cmake --build .
    - name: Run Unit Tests with CTest
    # CTest will run all tests registered via add_test() in the build directory. The -V flag (Verbose) is useful, it prints test output to the CI log.
      run: |
        cd build
        ctest --output-on-failure -V
